<div class="review-list-container" *ngIf="!isLoading; else loadingTemplate">
  <h3>Recensioni</h3>

  <div *ngIf="reviews.length > 0; else noReviews">
    <mat-card *ngFor="let review of reviews" class="review-card">
      <mat-card-header>
        <div mat-card-avatar class="review-avatar">
          <span>{{ review.userName | slice:0:1 }}</span>
        </div>

        <mat-card-title>{{ review.userName }}</mat-card-title>
        <mat-card-subtitle>{{ review.createdDate | date:'short' }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="rating-container">
          <mat-icon *ngFor="let star of [].constructor(5); let i = index" [class.filled]="i < review.rating">
            star
          </mat-icon>
          <span class="rating-value">{{ review.rating }} / 5</span>
        </div>

        <p class="review-comment">{{ review.comment }}</p>

        <!-- 👇 NUOVO BLOCCO IMMAGINI -->
        <div *ngIf="review.imageUrls && review.imageUrls.length > 0" class="review-images">
          <img
            *ngFor="let imgUrl of review.imageUrls"
            [src]="imgUrl"
            alt="Immagine recensione"
            class="review-image"
          />
        </div>
      </mat-card-content>

      <mat-card-actions class="card-actions">
        <div class="action-buttons">
          <!-- Mostra "Modifica" e "Elimina" solo se l'utente corrente è il proprietario -->
          <button mat-raised-button color="primary" class="btn-edit" *ngIf="review.userId === (currentUserId ?? 0)" (click)="onUpdateReview(review)">
            Modifica
          </button>
          <button mat-raised-button color="warn" class="btn-delete" *ngIf="review.userId === (currentUserId ?? 0)" (click)="onDeleteReview(review.id)">
            Elimina
          </button>
          <button mat-button color="warn" (click)="openReportDialog(review.id)">
            Segnala
          </button>

        </div>
        <!-- Componente per gestire gli upvote -->
        <app-review-upvote
          [reviewId]="review.id"
          [userId]="currentUserId ?? 0"
          [initialUpvotes]="review.upvotesCount"
          [hasUpvotedInitial]="review.hasUpvoted">
        </app-review-upvote>
      </mat-card-actions>
    </mat-card>
  </div>

  <ng-template #noReviews>
    <p class="no-reviews-text">Nessuna recensione disponibile per questo prodotto.</p>
  </ng-template>
</div>

<ng-template #loadingTemplate>
  <div class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
