.product-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}

.product-card {
  background-color: #002f6c; /* Blu Euronics */
  color: white;
  padding: 15px;
  border-radius: 8px;
  width: 220px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card h2 {
  color: #ffd700; /* Giallo Euronics */
  font-size: 18px;
}

.product-card img {
  max-width: 100%;
  border-radius: 5px;
}

.description {
  font-size: 14px;
  margin-bottom: 5px;
}

.price {
  font-size: 16px;
  font-weight: bold;
  color: #ffd700;
}

.stock {
  font-size: 14px;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.details-button,
.cart-button {
  background-color: #ffd700;
  color: black;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

.details-button:hover,
.cart-button:hover {
  background-color: #ffcc00;
}
