.cart-wrapper {
  margin: 20px;
}

.clear-btn-container {
  margin-top: 1rem;
}

.cart-summary {
  margin: 1rem 20px;
  display: flex;
  justify-content: flex-end;
}

button {
  margin-right: 1rem;
}
