<div class="admin-layout">
  <!-- Sidebar -->
  <aside class="sidebar">
    <div class="sidebar-header">
      <h2>Console Admin</h2>
    </div>
    <nav class="sidebar-menu">
      <a routerLink="/admin/users" routerLinkActive="active">Utenti</a>
      <a routerLink="/admin/products" routerLinkActive="active">Prodotti</a>
      <a routerLink="/admin/coupons" routerLinkActive="active">Coupon</a>
      <a routerLink="/admin/newsletter" routerLinkActive="active">Newsletter</a>
      <a routerLink="/admin/complaints">📨 Reclami</a>
      <a routerLink="/admin/reported-reviews" routerLinkActive="active">🚨 Recensioni Segnalate</a>
      <a routerLink="/admin/discounts" routerLinkActive="active">💸 Sconti Prodotti</a>
      <a routerLink="/admin/cache-metrics" routerLinkActive="active">📦 Metriche Cache</a> <!-- 🔥 AGGIUNTO -->





    </nav>
  </aside>

  <!-- Content Area -->
  <main class="admin-content">
    <h1>Area Amministrativa</h1>
    <div class="content-box">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
