<!-- src/app/components/payment/create-payment.component.html -->
<div class="create-payment-container">
  <h2>Crea Pagamento</h2>
  <div>
    <label>User ID:</label>
    <input type="number" [(ngModel)]="paymentRequest.userId">
  </div>
  <div>
    <label>Order ID:</label>
    <input type="number" [(ngModel)]="paymentRequest.orderId">
  </div>
  <div>
    <label>Payment Method:</label>
    <input type="text" [(ngModel)]="paymentRequest.paymentMethod">
  </div>
  <div>
    <label>Amount:</label>
    <input type="number" step="0.01" [(ngModel)]="paymentRequest.amount">
  </div>
  <button (click)="createPayment()">Crea</button>
  <p *ngIf="message">{{ message }}</p>
</div>
